{% extends "base.html" %}

{% block content %}

<h1 class="title">
    {{ section.title }}
</h1>

<div class="page-intro">
  <p class="larger">My old blog, <a href="https://wordius.com">wordius.com</a>, served up posts till November 2015 when I stopped writing for many reasons – too much work being the main one. I also got out of the habit of writing for the web.</p>
  <p class="larger">The aim is to continue that writing in a similar vein, but with more of a focus on free and open source software. That’s the plan anyway.</p>
</div>

<!-- PAGINATOR -->
{% if paginator %}
<div>
  <ul class="postlist">
    {% for post in paginator.pages %}
    <li class="postlist-item">
      <div class="postlist-head">
         <h2><a href="{{ post.permalink }}">{{ post.title }}</a></h2>
      </div>
      <div class="date>">
        <time class="postlist-date">{{ post.date | date(format="%d %B %Y") }}</time>
      </div>
      <p class="postlist-description">{{ post.description }}</p>
    </li>
    {% endfor %}
  </ul> 

</div>
{% endif %}
{% if paginator.previous %}
  <a href="{{ paginator.previous }}">&lt;</a>
{% else %}
  &lt;
{% endif %}
<span>{{ paginator.current_index }}</span>
{% if paginator.next %}
  <a href="{{ paginator.next }}">&gt;</a>
{% else %}
  &gt;
{% endif %}
<!-- END PAGINATOR -->

{% endblock content %}

